{% extends 'base.html.twig' %}

{% block title %}page d'accueil{% endblock %}
{% block montitre %}Voici la liste des Animaux{% endblock %}

{% block body %}
{% for animal in animaux %}

<div class="row align-items-center">
    
    
    <div class="col-2 text-center">
        <img src="{{asset('images/'~ animal.image)}}" class="img-fluid">

    </div>
    <div class="col-auto">
        <h2><a href="{{path('afficher_animal',{'id':animal.id})}}">{{animal.nom}}</a></a></h2> 
        <div>{{animal.description}}</div> 
    </div>
    <div class="col-6 text-center">
        <h2 class="border-bottom border-primary"><a href="{{path('affiche_famille',{'id':animal.famille.id})}}">{{animal.famille.libele|capitalize}}</a></h2> 
    </div>
    <div class="col-1 text-center">
        {% for continent in animal.continents %}
        <h2 class="btn btn-warning"><a href="#">{{continent.libelle}}</a></h2>
        {% endfor %}
    </div>

</div>


{% endfor %}



{% endblock %}
